           #header{
           background-color:#04A4FF;  
           }	

			h1 {
				margin: 0px;
				text-align: center;
				color:white;
			}
			p {
        max-width: 360px;

            }

      table {
                width:40%;
            }

           
            .text {
             margin-left: 50px;
             }

            img {
            position: absolute;
            top:150px;
            right: 200px;
	          width: 300px;
	          height: 300px;
	        
	       }
